* {
  margin: 0px;
  padding: 0px;
}
#home {
  font-weight: bolder;
}
/* Hero   Section */
.hero {
  background: url("../Images/p2.jpg") center/cover no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-left: 150px;
  color: #eff1f3;
}
.hero-overlay {
  background-color: rgba(65, 65, 65, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content1 {
  margin-left: 100px;
  margin-top: 70px;
  color: white;
  text-align: center;
}

.hero-content1 h1 {
  font-family: "Dancing Script", cursive;
  font-size: 72px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero-content1 p {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Hero Button Styling */
.hero-btn {
  padding: 12px 24px;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #ff4a4a;
}
#btn:hover {
  background-color: #ff4a4a;
}

#to {
  color: black;
  margin-top: 12px;
  font-size: large;
  font-weight: bold;
}

.popular-destinations h2 {
  text-align: center;
  font-size: 32px;
  /* font-family: "dancing Script"; */
  color: #1a1a1a;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.destinations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.destination-card {
  width: 220px;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.destination-card:hover {
  transform: scale(1.03);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  width: 100%;
  padding: 15px;
}

.card-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.85;
  letter-spacing: 1px;
  margin: 0;
}

.destination-card h3 {
  font-size: 20px;
  margin: 5px 0 0;
}

.about {
  display: flex;
  padding: 60px 40px;
  background: white;
  align-items: center;
}

.about img {
  width: 50%;
  border-radius: 10px;
}

.about-text {
  padding-left: 40px;
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 20px;
  color: #555;
}

.about-text button {
  padding: 10px 20px;
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home-image {
  cursor: pointer;
}

.about1 {
  display: flex;
  padding: 60px 40px;
  background: white;
  align-items: center;
  margin-top: -30px;
}

.about1 img {
  width: 50%;
  border-radius: 10px;
}

.about-text1 {
  padding-left: 40px;
}

.about-text1 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-text1 p {
  margin-bottom: 20px;
  color: #555;
}

.about-text1 button {
  padding: 10px 20px;
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Global Style */
section {
  margin: auto;
}

h2 {
  font-size: 26px;
  color: #1a1a1a;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Explore Europe */
.explore-europe h2 {
  /* margin-left: 150px; */
  text-align: center;
}
.europe-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.country {
  text-align: center;
  width: 90px;
  cursor: pointer;
}

.country img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
  transition: transform 0.3s ease;
}

.country img:hover {
  transform: scale(1.1);
}

.country p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

/* Unique Experiences */
.unique-experiences{
  margin-top: 40px;
}
.unique-experiences h2 {
  text-align: center;
}
.experience-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.experience-card {
  cursor: pointer;
  width: 220px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.experience-card:hover {
  transform: scale(1.03);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  color: #fff;
}

.overlay p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.overlay h3 {
  font-size: 18px;
  margin: 5px 0 0;
}

.visa-free-section {
  padding: 40px;
}

.visa-free-section h2 {
  font-size: 30px;
  color: #1b2a4e;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
}

.card {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.03);
}
.card.large {
  grid-row: span 2;
}

.card.small {
  grid-row: span 1;
  grid-column: span 1;
}

.overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  width: 100%;
  padding: 10px;
  border-radius: 12px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.card p {
  margin: 5px 0 0;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: white;
}

.destination-guides {
  padding: 40px;

}

.destination-guides h2 {
  font-size: 22px;
  color: #1b2a4e;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.guide-cards {
  display: flex;
  cursor: pointer;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.guide-card {
  flex: 0 0 auto;
  width: 200px;
  height: 140px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #1b2a4e;
  position: relative;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 80px, 80px;
}

.green {
  background-color: #eaf4ec;
  background-image: radial-gradient(
      circle at top right,
      #cfe5d1 20%,
      transparent 20%
    ),
     
}

.cream {
  background-color: #f7f1e9;
  background-image: radial-gradient(
      circle at top right,
      #e6dbd0 20%,
      transparent 20%
    ),
     
}
