body {
  margin: 0;
  padding: 0;
  /* background-color: #f8f1eb; */
  background: url("../Images/p2.jpg");
}
.container {
  background: rgba(255, 255, 255, 0.386);
  padding: 30px 50px 30px 30px;
  margin-top: 100px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 450px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  justify-items: center;
}
#nav {
  /* margin-top: -100px; */
  color: rgb(255, 255, 255);
}
#ul a {
  color: rgb(255, 255, 255);
}
#sign {
  font-weight: bolder;
}
#logo {
  margin-right: 611.5px;
  margin-left: 150px;
  color: rgb(255, 255, 255);
}

#signup-form {
  padding: 10px 5px;
}
h2 {
  /* color: #ff6b6b; */
  font-size: 24px;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  background: #f1f1f1;
  font-size: 16px;
}
.btn {
  width: 140px;
  padding: 12px;
  background-color: #ff6b6bd8;
  border: none;
  border-radius: 25px;

  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#sign {
  /* text-decoration: none; */
  color: #ff6b6bd8;
  margin-left: 5px;
}
#sign-text {
  color: #ffffffd8;
  font-size: 20px;
}
.icon {
  font-size: 30px;
  margin-top: 50px;
  cursor: pointer;
  color: #e7a1a1c2;
}
.icon i {
  margin-left: 50px;
  margin-right: 50px;
}
.cart-container2 {
  display: none;
}

.hero-overlay {
  background-color: rgba(65, 65, 65, 0.5);
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-form{
  display: block;
}
.hidden{
  display:none;
}