.app-header {
  background: #5f1969;
  color: #fff;
  text-align: left;
  padding: 28px 0;
}

.app-header .container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.app-header h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}
.app-content {
  padding: 40px 20px; /* Adjust based on header/footer height */
  background: #f9f9f9;
}
.app-footer {
  background: #5f1969;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
}
.app-footer a {
  color: #ffdd57;
  text-decoration: none;
}