 
body {
   
  font-family: Arial, sans-serif;
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.logo a{
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
a{
  text-decoration: none;
}
.menu a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #000000; /* Optional: add a hover color */
}
